{% extends "material/frontend/base.html" %}
{% load i18n static canteen_website_tags %}

{% block title %}{% get_setting "site_name" %}{% endblock %}

{% block sidenav_header %}
    <li>
        <div class="userView">
            <img class="background" src="{% static 'material/imgs/sidenav.svg' %}">
            <a href="#"><img class="circle" src="{% static 'material/imgs/user.png' %}"></a>
            <span class="white-text slogan">
                {% block sidenav_slogan %}
                    {% get_setting "site_slogan" %}
                {% endblock %}
            </span>
        </div>
    </li>
{% endblock %}

{% block sidenav_items %}
    {% sidebar_category_list %}
{% endblock sidenav_items %}

{% block topbar_links %}{% endblock %}