{% if category %}
    <div class="row">
        {% for goods in category.goods_set.all %}
            <div class="col-sm-3">
                {{ goods.name }}
                {{ goods.name }}
                <img src="{{ goods.picture }}"/>
                原价{{ goods.price }}
                优惠价/券后价{{ goods.price_real }}
                {{ goods.platform_type }}
                {{ goods.coupon_money }}
                <a href="{{ goods.url_coupon }}">去领券</a>
                <a href="{{ goods.url_affiliate }}">去购买</a>
                <a href="{{ goods.url_affiliate_coupon }}">领券并购买</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>此分类中没有商品</p>
{% endif %}